@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");

* {
    font-family: "Open Sans", sans-serif !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif !important;
    background-image: linear-gradient(#372486, #3d2b8a);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.fas{
    font-family: "Font Awesome 5 Free" !important;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.col {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: auto;
    flex-direction: column;
}

.container {
    width: 60%;
    margin: 10% auto;
}

.centerWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chatMsg,
#userName {
    width: 622px;
    border: 1px solid #bdbdff;
    background-color: #bdbdff;
    padding: 8px 10px;
    font-size: 1rem;
}

#chatMsg::placeholder {
    font-family: "Open Sans", sans-serif;
}

#submit {
    width: 622px;
    border: 1px solid #1e1545;
    background-color: #1e1545;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 10px;
    margin-top: 0px;
    position: relative;
    top: -5px;
    color: #bdbdff;
    text-shadow: 0.5px 0 0 #949494;
    font-weight: 500;
}

#submit:hover {
    cursor: pointer;
}

#submit:focus {
    outline-color: #2c1647;
}

#submitName {
    width: 100%;
    border: 1px solid #2c1647;
    background-color: #2c1647;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 10px;
    color: #bdbdff;
    font-weight: 600;
    font-size: 1rem;
}

#submitName:hover {
    cursor: pointer;
}

#submitName:focus {
    outline-color: #7f74c1;
}

#chatLogContainer {
    
    border: 1px solid #1e1545;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #1e1545;
    overflow-y: scroll;
    height: 450px;
    width: 620px;
    font-size: 1rem;
}

#chatMsgContainer {
    display: flex;
    flex-direction: column;
}

#chatLog {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

#chatSection {
    display: block;
}

#chatSection .row .col {
    height: 602px;
}

.chatLogItem {
    width: 100%;
    height: auto;
    color: #bdbdff;
    border-bottom: 1px solid #3a3737;
}

#chatParticipantContainer{
    color: #bdbdff;
    overflow-y: auto;
    width:225px;
}

#chatParticipantHeader{
    color: #bdbdff;
}

#chatParticipantList{
    list-style-type: none;
    margin: 0;
    padding-left: 2rem;
}


#chatHeader {
    color: #bdbdff !important;
}

.myItem {
    color: #8c8c8c;
}

.headerMsg {
    color: #bdbdff;
    border: 1px solid #2c1647;
    background-color: #2c1647;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 622px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom: 0;
    font-size: 1.2rem;
}

textarea {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #bdbdff;
    resize: none;
    font-family: "Open Sans", sans-serif;
}

textarea:focus {
    outline-color: #7f74c1;
}

form {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bdbdff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
